.byte-tooltip {
  padding: 5px 10px;
  font-size: 13px;
  border-radius: 4px;
  display: inline-block;
  visibility: hidden;

  &.is-dark {
    background: #1a1a1a;
    color: #ffffff;
  }

  &.is-light {
    background: #ffffff;
    color: #1a1a1a;
  }

  .byte-tooltip-arrow,
  .byte-tooltip-arrow::before {
    position: absolute;
    width: 8px;
    height: 8px;
    background: inherit;
  }

  .byte-tooltip-arrow {
    visibility: hidden;
  }

  .byte-tooltip-arrow::before {
    visibility: visible;
    content: '';
    transform: rotate(45deg);
  }

  .byte-tooltip-arrow2::before {
    visibility: hidden;
    content: '';
    transform: rotate(45deg);
  }

  &[data-popper-placement^='top'] > .byte-tooltip-arrow {
    bottom: -4px;
  }

  &[data-popper-placement='top'] > .byte-tooltip-arrow {
    left: 50%;
    transform: translate(-50%, 0);
  }

  &[data-popper-placement='top-start'] > .byte-tooltip-arrow {
    left: 10%;
  }

  &[data-popper-placement='top-end'] > .byte-tooltip-arrow {
    right: 10%;
  }

  &[data-popper-placement^='bottom'] > .byte-tooltip-arrow {
    top: -4px;
  }

  &[data-popper-placement='bottom'] > .byte-tooltip-arrow {
    left: 50%;
    transform: translate(-50%, 0);
  }

  &[data-popper-placement='bottom-start'] > .byte-tooltip-arrow {
    left: 10%;
  }

  &[data-popper-placement='bottom-end'] > .byte-tooltip-arrow {
    right: 10%;
  }

  &[data-popper-placement^='left'] > .byte-tooltip-arrow {
    right: -4px;
  }

  &[data-popper-placement='left'] > .byte-tooltip-arrow {
    bottom: 50%;
    transform: translate(0, 50%);
  }

  &[data-popper-placement='left-start'] > .byte-tooltip-arrow {
    top: 10%;
  }

  &[data-popper-placement='left-end'] > .byte-tooltip-arrow {
    bottom: 10%;
  }

  &[data-popper-placement^='right'] > .byte-tooltip-arrow {
    left: -4px;
  }

  &[data-popper-placement='right'] > .byte-tooltip-arrow {
    bottom: 50%;
    transform: translate(0, 50%);
  }

  &[data-popper-placement='right-start'] > .byte-tooltip-arrow {
    top: 10%;
  }

  &[data-popper-placement='right-end'] > .byte-tooltip-arrow {
    bottom: 10%;
  }
}